body {
    background-image: url('img/night-sky.jpg');
    background-position: top;
    margin-top: 8em;
}

.loadingWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: auto;
    z-index: 100;
    background-color: black;
}

.loader {
    border-top: 16px solid white;
    border-bottom: 16px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#content {
    background-color: rgba(255, 255, 255, .15);
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
}

.alerts {
    height: 80px;
}

.inlineButtons {
    padding-right: 10px;
}

button.tickButton {
    background-color: rgba(58, 252, 55, .2);
}

button.deleteButton {
    background-color: rgba(249, 22, 22, .2);
}

.list-group-item {
    word-break: break-all;
}

li.ticked {
    text-decoration: line-through;
    background-color: rgba(184, 184, 184, 0.77);
}

li.unticked {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.87);
}

div.itemTimeCreated {
    color: #6B6B6B;
    float: right;
    font-size: 10px;
}